.item-order {
    width: 100%;
    margin: 5px 0px;
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.item-order__info {
    display: flex;
    flex-direction: column;
}
.item-order__body {
    display: flex;
    align-items: center;
}
.item-order:hover {
    opacity: 0.8;
}
.item-order-img {
    width: 70px;
    float: left;
    margin-right: 20px;
}
.item-order-price {
    color: #797979;
    font-weight: 600;
}
.item-order-title {
    font-size: 20px;
    margin-bottom: 10px;
}
.delete-icon {
    color: #ca5252;
    cursor: pointer;
}
